@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

p {
    font-family: michroma;
    font-size: 30px;
}

b {
    color: white;
    text-shadow:
    -1px -1px #2AADE5,
    -1px 1px #2AADE5,
    1px -1px #2AADE5,
    1px 1px #2AADE5;
    
}