body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo span {
    display: none;

}

.titulo {
    margin: 1vh;
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: 1vh 2vw;
    width: 100%;
}



.form-image {
    display: none;
}


