body {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo span {
    display: none;
    color: red;

}

fieldset {
    margin: 1vh 2vw;
    width: 100%;
}

#btn-sub {
    background-color: var(--red-bg);
    color: var(--white-bg);
    border-radius: 15px;
    text-align: center;
}

.form-image {
    display: none;
}

.toast {
    display: none;
    position: absolute;
}

@media (max-width: 991px) {
    form {
        margin: 100px 0;
    }
}

@media (max-width: 767px) {
    .relativo {
        position: relative;
    }
    #btn-sub {
        position: absolute;
        top: 1100px;
        right: 0px;
    }
}