@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    font-family: michroma;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/*class p por no body*/
:root {
    --red-bg: #cc1c2c;
    --bege-bg: #f5f5f5;
    --white-bg: white;
    --blue-btn: #2AADE5;
    --black-font: black;
    --cinza-bg-rodape:  #D9D9D9;
    
}

.dark {

}

/*logo modavo*/
#modavo b {
    color: white;
    text-shadow:
    -1px -1px #2AADE5,
    -1px 1px #2AADE5,
    1px -1px #2AADE5,
    1px 1px #2AADE5;
    
}

/* primeira seção das telas de serviço */
.btn-teste {
    border: none;
    height: 70px;
    border-radius: 30px;
    background-color: #2AADE5;
    color: white;
    font-size: 24px;
    padding: 0 20px;
}

.slogan {
    width: 75%;
    font-size: 20px;
}

section {
    min-height: 88vh;
}

#section-1 {
    background-color: var(--bege-bg);
}

/*negocinho debaixo dos titulos */
section h2 {
    padding: 10vh 3vw 5vh;
    margin: 5vh 3vw;

}

.titulo::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #cc1c2c;
    display: block;
    margin: 10px 0;
}