.slogan {
    font-size: 30px;
    width: auto;
}

.slogan b {
    color: var(--white-bg);
    text-shadow:
    -1px -1px var(--blue-btn),
    -1px 1px var(--blue-btn),
    1px -1px var(--blue-btn),
    1px 1px var(--blue-btn);
    
}

main #modavo {
    font-size: 70px;
}

#section-1 {
    background-color: var(--white-bg);
    min-height: 95vh;
}

#section-1 img {
}

#section-2 {
    background-color: var(--bege-bg);
    min-height: 98vh;
}

#section-2 p {
    margin: 0 7vw;
    text-align: justify;
}

#section-3 {
    background-color: var(--white-bg);
    min-height: 98vh;
}

#section-3 .row {
    min-height: 62vh;
}

#section-3 .textos {
    text-align: center;
}

